{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static "js/toastr/toastr.css" %}">
  <link href="{% static "js/advanced-datatable/css/demo_page.css" %}" rel="stylesheet" />
  <link href="{% static "js/advanced-datatable/css/demo_table.css" %}" rel="stylesheet" />
  <link rel="stylesheet" href="{% static "js/data-tables/DT_bootstrap.css" %}" />
    <link rel="stylesheet" href="{% static "js/json-view/jquery.jsonview.min.css" %}">
<link rel="stylesheet" href="{% static "js/bootstrap-dialog/css/bootstrap-dialog.css" %}">
{% endblock %}

{% block page-body %}
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    Dynamic Table
                </header>
                <div class="panel-body">
                    <div class="adv-table">
                        <table  class="display table table-bordered table-striped" id="dynamic-table">
                            <thead>
                                <tr>
                                    <th class="hidden-phone">User</th>
                                    <th class="hidden-phone">Hostname</th>
                                    <th class="hidden-phone">IP</th>
                                    <th class="hidden-phone">Start Time</th>
                                    <th class="hidden-phone">End Time</th>
{#                                    <th class="hidden-phone">is finished</th>#}
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for object in object_list %}
                                    <tr>
                                        <td>{{ object.user.username }}</td>
                                        <td>{{ object.hostname }}</td>
                                        <td>{{ object.ip }}</td>
                                        <td>{{ object.start_time|date:'Y-m-d H:i:s'}}</td>
                                        <td>{{ object.end_time|date:'Y-m-d H:i:s'}}</td>
                                        <td>
                                            {% if object.is_finished %}
                                                <button class="btn btn-xs btn-success" type="button" onclick="play('{{object.user.username}}','{{object.ip}}','{{object.start_time}}','{{object.start_time}}','{% url 'shell:sshlogplay' object.id %}');">Replay</button>
                                            {% else %}
                                                <button class="btn btn-xs btn-info" type="button" onclick="monitor('{{object.user.username}}','{{object.ip}}','{{object.start_time}}','{% url 'shell:sshterminalmonitor' object.id %}');">Monitor</button>
                                                <button class="btn btn-xs btn-danger" type="button" onclick="kill('{{object.channel}}','{{object.user.username}}')">Kill</button>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static "js/json-view/jquery.jsonview.min.js" %}"></script>
    <script src="{% static "js/bootstrap-dialog/js/bootstrap-dialog.js" %}"></script>
    <script src="{% static "js/bootbox/bootbox.js" %}"></script>
    <script src="{% static "js/toastr/toastr.min.js" %}"></script>

<!--dynamic table-->
<script type="text/javascript" language="javascript" src="{% static "js/advanced-datatable/js/jquery.dataTables.js" %}"></script>
<script type="text/javascript" src="{% static "js/data-tables/DT_bootstrap.js" %}"></script>
<!--dynamic table initialization -->
<script src="{% static "js/dynamic_table_init.js" %}"></script>
    <script type="application/javascript">
    function play(user, ip, start_time, end_time, url){
        var div_username = ' user: '+'<span class="text-info">'+user+'' + '</span>';
        var div_ip = ' server: '+'<span class="text-info">' + ip + '</span>';
        var div_time = ' start time: ' + '<span class="text-info">'+start_time +'</span>' + ' end time: ' +'<span class="text-info">' + end_time + '</span>';
        var title = div_username + div_ip + div_time;
        BootstrapDialog.show({
            title: title,
            type: BootstrapDialog.TYPE_DEFAULT,
            message:$('<div style="overflow: auto;background-color: rgba(0, 0, 0, 0);"></div>').load(url)
        });
        return false;
    }

    function kill(channel_name,user_name) {
    var dialog = bootbox.confirm({
        title: "<a class='text-danger'>"+'kick user ' + user_name +" out </a>",
        message: 'Are you sure to kick user ' + user_name +' out ?',
        buttons: {
            confirm: {
                label: 'kill',
                className: 'btn-danger'
            },
            cancel: {
                label: 'cancel',
                className: 'btn-success'
            }
        },
        callback: function (result) {
            if (result){
                $.ajax({
                    type: "POST",
                    url: '{% url 'shell:sshterminalkill' %}',
                    dataType: "json",
                    data: {'channel_name': channel_name, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                    success: function (data) {
                        if (data['status']){
                            toastr["success"](data['message']);
                            setTimeout(function () {
                                location.reload();
                            },2000);
                        }else{
                            toastr["error"](data['message']);
                        }
                    },
                    failure: function (errMsg) {
                        toastr["error"](errMsg);
                    }
                });
            }
        }
    });
}

function monitor(user,ip,start_time,url){
        var div_username = ' user: '+'<span class="text-info">'+user+'' + '</span>';
        var div_ip = ' server: '+'<span class="text-info">' + ip + '</span>';
        var div_time = ' start time: ' + '<span class="text-info">'+start_time +'</span>';
        var title = div_username + div_ip + div_time;
        BootstrapDialog.show({
            size: BootstrapDialog.SIZE_WIDE,
            title: title,
            type: BootstrapDialog.TYPE_DEFAULT,
            message:$('<div style="overflow: auto;background-color: rgba(0, 0, 0, 0);"></div>').load(url),
            draggable: true
        });
        return false;
    }
</script>
{% endblock %}