{% load staticfiles %}

<ul class="nav nav-pills nav-stacked custom-nav">
    {% for region in regions %}
        <li class="menu-list {% if region.name in request.path %}active{% endif %}"><a href=""><i class="fa fa-laptop"></i> <span>{{ region.aws_name }}</span></a>
            <ul class="sub-menu-list">
                {% for role in region.roles.all %}
                    {% with region.name|add:'/'|add:role.name as current_path%}
                    <li class="{% if current_path in request.path %}active{% endif %}"><a href={% url "shell:server_list" region=region.name role=role.name %}>{{ role.name }}</a></li>
                    {% endwith %}
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>